.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  /* or 143% */

  color: #837e9f;

  margin-top: 2rem;
}
