.Tecnologias {
  grid-column: 1/2;
  grid-area: aside;
  margin-top: 3rem;

  padding: 3rem 3rem 3rem 2rem;
}

.Titulo {
  margin-bottom: 2rem;
}

.Lista {
  display: grid;
  grid-template-columns: 8.6rem 8.6rem 8.6rem;
  justify-content: space-between;
  gap: 1.5rem;
}

.Lista li {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
  text-transform: uppercase;

  color: #000000;

  background: var(--bg-techs);

  border-radius: 3rem;
  padding-top: 0.6rem;
  height: 2.4rem;

  margin-left: 1rem;
  padding-inline: 0.2rem;

  cursor: crosshair;
}
