.contact {
  grid-column: 1/2;
  max-width: 35rem;

  padding: 3rem 0 1.4rem 4rem;
  margin-top: 3rem;
}

@media (max-width: 430px) {
  .contact {
    padding: 3rem 0 1.4rem 4rem;
    margin-top: 1rem;
  }
}

.contact li {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.contact svg {
  width: 2.4rem;
  height: 2.4rem;

  margin-right: 2rem;
  color: var(--text-color);
}

@media (max-width: 430px) {
  .contact svg {
    margin-right: 1rem;
  }
}

.contact p,
.contact a {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6rem;

  color: var(--text-color);
}

