.Repositories {
  grid-column: 2/4;

  margin-left: 6rem;
  margin-top: 3rem;

  display: flex;
  justify-content: space-between;
}

@media (max-width: 1260px) {
  .Repositories {
    margin-left: 3rem;
  }
}

@media (max-width: 430px) {
  .Repositories {
    margin-inline: 1rem;
    margin-top: 1rem;
  }
}
.repoUl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.repositoriesLi {
  padding: 3rem;
  width: 48%;
  margin-bottom: 3rem;
}

@media (max-width: 1260px) {
  .repositoriesLi {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .repositoriesLi {
    margin-bottom: 1rem;
  }
}

.repository {
  display: flex;
  align-items: center;
}

.repository svg {
  color: var(--text-color);
  margin-right: 1.6rem;
}

.repository h3 {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;

  color: var(--text-color);
}

.description {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;

  color: var(--text-color);

  padding: 2.2rem 0 2.2rem 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.starBranch {
  display: flex;
  align-items: center;
}

.starBranch svg {
  color: var(--text-color);
  margin-right: 0.8rem;
}

.starBranch p {
  color: var(--text-color);
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;

  margin-right: 1.6rem;

  color: var(--text-color);
}

@media (max-width: 820) {
  .starBranch p {
    margin-right: 0.5rem !important;
  }
}

.languageJavaScript {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;

  color: var(--text-color);
  position: relative;
}

.languageJavaScript::before {
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  top: 0.1rem;
  left: -2rem;

  background: var(--bg-language);
  border: 2px solid var(--text-color);

  position: absolute;
}

.languageHtml {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;

  color: var(--text-color);
  position: relative;
}

.languageHtml::before {
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  top: 0.1rem;
  left: -2rem;

  background: var(--bg-langHtml);
  border: 2px solid var(--text-color);

  position: absolute;
}

.languageCss {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;

  color: var(--text-color);
  position: relative;
}

.languageCss::before {
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  top: 0.1rem;
  left: -2rem;

  background: var(--bg-langCss);
  border: 2px solid var(--text-color);

  position: absolute;
}

@media (max-width: 805px) {
  .hidden {
    display: none;
  }

  .maxLines {
    overflow: hidden; /* remove o estouro do elemento */
    text-overflow: ellipsis; /* adiciona “...” no final */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* quantidade de linhas */
    -webkit-box-orient: vertical; /* conteúdo será apresentado verticalmente */
  }
}

svg {
  width: 3rem;
  height: 3rem;
}

.reactLogo {
  color: #61dafb;
}

.javaScriptLogo {
  color: #f7df1e;
}
.cssThreeLogo {
  color: #1572b6;
}
.gitLogo {
  color: #f05032;
}
.GithubLogo {
  color: #181717;
}
.html5Logo {
  color: #e34f26;
}
.sassLogo {
  color: #cc6699;
}
.typescriptLogo {
  color: #3178c6;
}
.nextDotJsLogo {
  color: #000000;
}